img {
    background-image: url("hero-image.png");
    background-color: #cccccc;
    width: 800px;
    height: 500px;
    background-position: bottom 100px right 150px;
    background-repeat: repeat-x;
    background-size: 50%;
}
